*.vscode
**/*cache*
**/__pycache__
**/.mypy_cache
**/CMakeFiles
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/*.so
**/compile_commands.json
**/ppt-cli
**/ppt-app
**/*.ppm
**/*.ipynb
**/*Doxy*